<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base:: layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>This is my home page</title>
</head>

<body>
	<section class="banner ">
		<div class="text-center">
			<h1 class=font-weight-bold>Smart Contact Manager</h1>
			<p>Launch your contact collection with a wise first step. For
				managing your contacts, we provide a more intelligent approach.</p>
			<button class="btn btn-primary btn-lg">Get Started</button>
		</div>

	</section>
</body>
</html>






